<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="group.first.iksn.model.dao.BlogDAO">
    <select id="detailedBlogSearchResultMap" resultType="searchResultMap">
       select
           b.id as bid,
           b.title as title,
           b.content as content,
           b.classify as classify,
           u.id as uid,
           u.

    </select>

     <!--定义的一个reaultmap结果集合来存储关联查询到的详细的博客，类型是自定义类型-->
    <resultMap id="searchResultMap" type="blog">

    </resultMap>

</mapper>