<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="group.first.iksn.model.dao.BlogDAO">



    <insert id="addIllegalblog" parameterType="IllegalBlog">
        insert into illegalblog(bid,illegalcause) values (#{bid},#{illegalcause})
    </insert>
    <select id="getAllReportBlog111" resultType="IllegalBlog">
        select * from illegalblog
    </select>
    <!--结果集合用来存储查询illegalblog表级联查询blog表-->


    <resultMap id="getBlogBy_IBlogId" type="IllegalBlog">
        <id column="id" property="id"/>
        <result column="illegalcause" property="illegalcause"/>

        <association property="blog" column="bid" javaType="Blog">
            <id column="bid" property="bid"/>
            <result column="title" property="title"/>
        </association>
    </resultMap>
    <select id="getAllReportBlog" resultMap="getBlogBy_IBlogId">
		select  i.ID,i.BID,i.ILLEGALCAUSE,b.TITLE  from illegalblog as i
		inner join blog as b on   i.BID=b.BID;
	</select>



    <!--这是有关blog搜索的查询-->
    <!--定义的一个reaultmap结果集合来存储关联查询到的详细的博客，类型是自定义类型-->
    <resultMap id="searchResultMap"  type="Blog">
        <id property="bid" column="bid"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="classify" column="classify"></result>
        <result property="link" column="link"></result>
        <result property="points" column="points"></result>
        <result property="time" column="time"></result>

        <association property="userToBlog" javaType="UserToBlog" >
            <id property="id" column="id"></id>
            <result property="bid" column="bid"></result>
            <!--userToBlog关联user的resultMap结果集-->
           <!-- <association property="uid" column="uid" select="sUser"></association>-->
        </association>

    <!-- 对博客标签来说，一条博客对应多条标签-->
        <collection property="blogTags" ofType="BlogTag">
            <id property="id" column="id"></id>
            <result property="bid" column="bid"></result>
            <result property="btag" column="btag"></result>
        </collection>

    </resultMap>
    <select id="detailedBlogSearchResultMap" resultMap="searchResultMap" >
       select b.* ,ub.*,t.* from blog as b
        inner join usertoblog as ub on ub.bid=b.bid
        inner join blogtag as t on t.bid=b.bid
       where  b.TITLE like '%' #{s} '%'
    </select>


   <!-- <select id="sUser" resultMap="sUser">
        select u.*,ub.* from usertoblog as ub
        inner join user as u on u.uid=ub.uid
    </select>
    <resultMap id="sUser" type="User">
         <id property="uid" column="uid"></id>
         <result property="nickname" column="nickname"></result>
    </resultMap>-->

    
    
    <!--关于blog首页推送的查询-->
 <!--   <resultMap id="blogsPush" type="BlogBrowsed">
        <id property="id" column="id"></id>
        <result property="browsetime" column="browsetime"></result>

        <association property="blog" javaType="Blog">
            <id property="bid" column="bid"></id>
            <result property="title" column="title"></result>
            <result property="content" column="content"></result>
            <result property="classify" column="classify"></result>
            <result property="link" column="link"></result>
            <result property="points" column="points"></result>
            <result property="time" column="time"></result>
        </association>

        <association property="user" javaType="User">
            <id property="uid" column="uid"></id>
            <result property="nickanme" column="nickname"></result>
        </association>
    </resultMap>
    <select id="detailedBlogPush" resultMap="blogsPush">
        select s.*,b.*,u.NICKNAME from blogbrowsed as s
           inner join blog as b on b.bid=s.bid
           inner join user as u on u.uid=s.uid
          order by b.POINTS desc limit 0,5

    </select>-->
    <select id="detailedBlogPush" resultType="Blog">
        select * from blog order by points desc
    </select>
</mapper>