<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.first.iksn.model.dao.ResourceDAO">
<!-- 评价评分 -->
    <insert id="assessResource" parameterType="ResourceComments">
        insert into resourcecomments(uid,rid,star,comment) values (#{uid},#{rid},#{star},#{comment})
    </insert>
    <!-- 收藏资源 -->
    <insert id="collectResource" parameterType="CollectResource">
        insert into collectresource(uid,rid) values (#{uid},#{rid})
    </insert>
    <!-- 统计下载次数 -->
    <select id="downnum" resultType="Integer">
        select count(*) from downresources where RID=(#{rid})
    </select>
    <select id="checkFile" resultType="Resource">
        SELECT * FROM resource where MD5=#{0} and SHA=#{1}
    </select>
    <insert id="addResource" parameterType="Resource" keyProperty="rid" useGeneratedKeys="true">
        INSERT INTO resource(uid,name,md5,sha,path,scoring,classify,introduce,time) VALUES (#{uid},#{name},#{md5},#{sha},#{path},#{scoring},#{classify},#{introduce},#{time})
    </insert>

    <insert id="addResourceTag">
        <foreach collection="rtag" item="val" >
            INSERT INTO resourcetag(RID,RTAG) VALUES (#{rid},#{val});
        </foreach>
    </insert>

</mapper>