<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.first.iksn.model.dao.ResourceDAO">
<!-- 评价评分 -->
    <insert id="assessResource" parameterType="ResourceComments">
        insert into resourcecomments(uid,rid,star,comment) values (#{uid},#{rid},#{star},#{comment})
    </insert>
    <!-- 收藏资源 -->
    <insert id="collectResource" parameterType="CollectResource">
        insert into collectresource(uid,rid) values (#{uid},#{rid})

    </insert>



    <!--搜索资源-->
    <resultMap id="ResourceS" type="Resource">
        <id property="rid" column="rid"></id>
        <result property="name" column="name"></result>
        <result property="path" column="path"></result>
        <result property="sha" column="sha"></result>
        <result property="scoring" column="scoring"></result>
        <result property="classify" column="classify"></result>
        <result property="time" column="time"></result>
        <result property="introduce" column="introduce"></result>

        <!--user表-->
       <association property="user" javaType="User">
           <id property="uid" column="uid"></id>
           <result property="nickname" column="nickname"></result>
       </association>
        
        <!--resourceTag表-->
        <collection property="resourceTags" ofType="ResourceTag">
            <id column="id" property="id"></id>
            <result property="rid" column="rid"></result>
            <result property="rtag" column="rtag"></result>
        </collection>

    </resultMap>

    <select id="searchResource" resultMap="ResourceS">
          select r.*,u.*,t.* from resource as r
          inner join  user as u on r.uid=u.uid
          inner join  resourcetag as t on t.rid=r.rid

    </select>
</mapper>