<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.first.iksn.model.dao.ResourceDAO">
<!-- 评价评分 -->
    <insert id="assessResource" parameterType="ResourceComments">
        insert into resourcecomments(uid,rid,star,comment) values (#{uid},#{rid},#{star},#{comment})
    </insert>
    <!-- 收藏资源 -->
    <insert id="collectResource" parameterType="CollectResource">
        insert into collectresource(uid,rid) values (#{uid},#{rid})
    </insert>
    <!-- 统计下载次数 -->
    <select id="downnum" resultType="Integer">
        select count(*) from downresources where RID=(#{rid})
    </select>
    <select id="checkFile" resultType="Resource">
        SELECT * FROM resource where MD5=#{0} and SHA=#{1}
    </select>
    <insert id="addResource" parameterType="Resource" keyProperty="rid" useGeneratedKeys="true">
        INSERT INTO resource(uid,name,md5,sha,path,scoring,classify,introduce,time) VALUES (#{uid},#{name},#{md5},#{sha},#{path},#{scoring},#{classify},#{introduce},#{time})
    </insert>

    <!--搜索资源-->
    <resultMap id="ResourceS" type="Resource">
        <id property="rid" column="rid"></id>
        <result property="name" column="name"></result>
        <result property="path" column="path"></result>
        <result property="sha" column="sha"></result>
        <result property="scoring" column="scoring"></result>
        <result property="classify" column="classify"></result>
        <result property="time" column="time"></result>
        <result property="introduce" column="introduce"></result>

        <!--user表-->
       <association property="user" javaType="User">
           <id property="uid" column="uid"></id>
           <result property="nickname" column="nickname"></result>
       </association>

        <!--resourceTag表-->
        <collection property="resourceTags" ofType="ResourceTag">
            <id column="id" property="id"></id>
            <result property="rid" column="rid"></result>
            <result property="rtag" column="rtag"></result>
        </collection>

    </resultMap>

    <select id="searchResource" resultMap="ResourceS">
          select r.*,u.*,t.* from resource as r
          inner join  user as u on r.uid=u.uid
          inner join  resourcetag as t on t.rid=r.rid

    </select>
    <insert id="addResourceTag">
        <foreach collection="rtag" item="val" >
            INSERT INTO resourcetag(RID,RTAG) VALUES (#{rid},#{val});
        </foreach>
    </insert>

    <!--从reportBlog表中根据id删除一个选中行-->
    <delete id="deleteResourceFromReport" parameterType="ReportResource">
        delete from reportresource where id = #{id}
    </delete>
    <!--删除跟resource相关的表数据-->
    <delete id="deleteResourceOthers" parameterType="Resource">
        DELETE  rr,rt,rb,rc,cr,dr,ir from reportresource rr
          LEFT OUTER JOIN resourcetag rt ON rt.RID = rr.RID
          LEFT OUTER JOIN resourcebrowsed rb ON rb.RID = rr.RID
          LEFT OUTER JOIN resourcecomments rc ON rc.RID = rr.RID
          LEFT OUTER JOIN collectresource cr ON cr.RID = rr.RID
          LEFT OUTER JOIN downresources dr ON dr.RID = rr.RID
          LEFT OUTER JOIN illegalresource ir ON ir.RID = rr.RID
        where rr.RID = #{rid};
    </delete>
    <delete id="deleteResource" parameterType="Resource">
        delete from resource where RID=#{rid}
    </delete>
    <!--被举报资源的数量-->
    <select id="reportResourceNum" resultType="Integer">
        select count(*) from reportresource
    </select>
    <!--结果集合用来存储查询ReportResource表级联查询Resource表-->
    <resultMap id="getResourceBy_Reportrid" type="ReportResource">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="reason" property="reason"/>


        <association property="resource" column="rid" javaType="Resource">
            <id column="rid" property="rid"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <select id="getAllReportResource" resultMap="getResourceBy_Reportrid">
		select  rr.ID,rr.RID,rr.REASON,r.NAME  from reportresource as rr
		inner join resource as r on   rr.RID=r.RID ORDER BY rr.ID asc limit #{page},2;
	</select>
    <!--举报资源-->
    <insert id="reportResource" parameterType="ReportResource">
        insert into reportresource (uid,rid,reason) values (#{uid},#{rid},#{reason})
    </insert>
</mapper>