<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group.first.iksn.model.dao.UserDAO">
    <select id="getUsers" resultType="User">
        SELECT * from user;
    </select>
    <select id="checkPhone"  resultType="User">
        SELECT  * from user WHERE PHONE=#{phone}
    </select>
    <select id="checkEmail"  resultType="User">
        SELECT  * from user WHERE EMAIL=#{email}
    </select>
    <select id="loginByEmail" resultType="User">
        SELECT * FROM  user WHERE  EMAIL=#{0} and PASSWORD =#{1}
    </select>
    <select id="loginByPhone" resultType="User">
        SELECT * FROM  user WHERE PHONE=#{0} and PASSWORD =#{1}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user(NICKNAME,PASSWORD,SEX,EMAIL,PHONE) values (#{nickname},#{password},#{sex},#{email},#{phone})
    </insert>

    <select id="receiveNotice" resultType="Notice">
    select  * from notice where UID=#{uid} order by ID desc limit #{nowPage},7;
    </select>
    <select id="listAllNoticeNum" resultType="Integer">
        select count(*)  from notice where UID=#{uid};
    </select>
    <select id="listNotReadNoticeNum" resultType="Integer">
        select count(*)  from notice where UID=#{uid} and ISREAD=0;
    </select>
    <select id="listNotReadMessageNum" resultType="Integer">
        select count(*)  from message where TOID=#{uid} and ISREAD=0;
    </select>

    <select id="receiveMessage" resultType="Message">
    select  * from message where TOID=#{toid};
    </select>
    <!--查询到发送消息人的信息-->
    <select id="listSendMessageUser" resultType="User">
        select  * from user where UID in (select FROMID from message where TOID=#{toid});
    </select>
    <update id="changeIsRead" parameterType="Notice">
        update notice set ISREAD=#{isRead} where UID=#{uid};
    </update>
    <update id="changeMessageIsRead" parameterType="Message">
        update message set ISREAD=#{isRead} where TOID=#{uid};
    </update>
    <insert id="addNotice" parameterType="Notice">
        insert into notice(UID,CONTENT,TIME,ISREAD,TYPE) values (#{uid},#{content},#{time},#{isread},#{type});
    </insert>
    <delete id="deleteNotice" parameterType="Notice">
        delete from notice where UID=#{uid};
    </delete>
    <delete id="deleteMessage" parameterType="Message">
        delete from message where TOID=#{uid};
    </delete>
    <insert id="sendMessage" parameterType="Message">
        insert into message(FROMID,TOID,CONTENT,TIME) values (#{fromid},#{toid},#{content},#{time});
    </insert>
    <select id="getAllMessages" resultType="Message">
        select * from message where TOID=#{toid}
    </select>
    <delete id="deleteAllMessages" parameterType="Message">
        delete from message where TOID=#{toid}
    </delete>
    <select id="checkIsAttention" resultType="Attention">
        select * from attention where SELFID=#{selfid} and ATTENID=#{attenid}
    </select>
    <!--分页查询关注的用户-->
    <select id="listAllFriends" resultType="User">
        select * from user  where UID in (select ATTENID from attention where SELFID=#{selfid}) order by UID asc limit #{nowPage},5;
    </select>
    <!--查询所有关注的用户-->
    <select id="FindAllFriendsOfThisUser" resultType="User">
        select * from user  where UID in (select ATTENID from attention where SELFID=#{selfid});
    </select>
    <!--查询所有关注我的粉丝，并不知道我有没有关注他-->
    <select id="listAllFans" resultType="User">
        select * from user where UID in (select SELFID from attention where ATTENID=#{attenid} and SELFID!=#{attenid});
    </select>

    <select id="searchFriend" resultType="User">
select * from user where NICKNAME=#{nickname} and  UID in (select ATTENID from attention where SELFID=#{selfid});
    </select>
    <select id="friendNum" resultType="Integer">
        select count(*) from user where UID in (select ATTENID from attention where SELFID=#{selfid});
    </select>
    <delete id="deleteChooseFriend" parameterType="Attention">
         delete from attention where SELFID=#{selfid} and ATTENID=#{attenid};
    </delete>


    <update id="updateUser" parameterType="User">
        UPDATE  user set  nickname=#{nickname},sex=#{sex},introduce=#{introduce} WHERE uid=#{uid}
    </update>
    <update id="updatePassword" parameterType="User">
        update user set password=#{password} where UID=#{uid}
    </update>
    <select id="getId" resultType="User">
       select * from user where UID=#{uid}
    </select>
    <select id="userGrade" parameterType="User">
        SELECT score FROM USER WHERE UID=#{uid}
    </select>
    <!--获取积分明细-->
    <select id="getScoring" resultType="Scoring">
        select * from scoring where uid=#{uid}
    </select>
    <!--积分的消费记录-->
    <select id="costScoring" resultType="Scoring">
        select * from scoring where uid=#{uid} and state=0
    </select>
    <!--积分的充值记录-->
    <select id="rechargeScoring" resultType="Scoring">
        select * from scoring where uid=#{uid} and operation='充值'
    </select>
</mapper>